 <% content_for :head do %>
  <style type="text/css">
  	body, html {
  		background-color: #f6f6f6;
  	}
  </style>
<% end %> 
<div class="container">
	<div class="onboarding">
		<div class="branding">
			<%= image_tag "blue-logo.png" %>
		</div>
		<div class="welcome">
			<h1>Welcome to Brandslip. Let's get started.</h1>
		</div>
		<div class="form">
			<div class="title">
				<h1>Please enter some info about your company.</h1>
			</div>
			<%= form_for(@user, :url => wizard_path, :method => :put) do |f| %>  
				<div class="field">
					<%= f.text_field :company_name, :placeholder => "Company Name", :class => "form-control" %>
				</div>	
				<div class="field">
					<%= f.text_field :website, :placeholder => "Company Website", :class => "form-control" %>
				</div>
				<div class="submit">
					<%= f.submit "Start Using Brandslip", :class => "btn btn-default blue" %>
				</div>
			<% end %>
		</div>
	</div>
</div>	